* {
  font-family: DIN Pro, -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: medium;
}
.header {
  position: fixed;
  top: 0px;
  z-index: 5;
}
.header-title {
  font-size: 28px;
  font-weight: medium;
}
.parent-container {
  padding: 40px 80px 20px;
}
.transparent {
  background: transparent !important;
}

.day {
  background: #fff;
  color: #000;
}

.night {
  background: #1b1b1d;
  color: #fff !important;
}

.night h2,
.night h1 {
  color: #fff;
}

.component-containerClosed {
  background-color: #1b1b1d;
  padding: 0% !important;
}

.main-head > h2 {
  color: #fff;
}

.flex-container {
  margin-left: 0 !important;
}
.robinhood-is-opened > * {
  color: #1b1b1d !important;
  background: #fff;
}

.robinhood-is-closed > * {
  color: #fff !important;
  background: #1b1b1d;
}

.robinhood-is-closed > p:hover {
  background: #171718 !important;
}

.robinhood-open {
  border: 1px solid #f4f4f5;
  color: #1b1b1d !important;
}

.robinhood-closed {
  border: 1px solid black !important;
  color: #fff !important;
}

.robinhood-closed:hover {
  background: #171718 !important;
}

.company-title {
  height: 20px;
  font-size: 13px;
  font-weight: bold;
  padding-top: 8px;
}

.price-is-down {
  color: #dd4d2d !important;
}

.price-is-up {
  color: #21ce99 !important;
}
.badges.robinhood-is-closed {
  color: #fff;
}
.fa-angle-right,
.fa-angle-left {
  color: #21ce99;
}
.price {
  text-align: left;
  margin-top: 90px;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -0.14px;
  line-height: 30px;
}

.badges {
  padding: 6px;
  font-size: 13px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  margin-top: 0;
  padding: 6px;
  justify-content: flex-center;
  overflow-x: auto;
  overflow: hidden;
  -webkit-box-pack: justify;
}

.flex-item {
  border: 1px solid;
  border-radius: 2px;
  padding: 23px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 184px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 12px;
  overflow: hidden;
  padding: 22px 23px;
  width: 160.5px;
}

.clickers {
  visibility: hidden;
}

.visible {
  visibility: visible !important;
}

.tooltip {
  font-size: 12px;
  max-width: 120px;
}

i {
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  margin-left: -6px;
}

.leftArrow {
  font-size: 27px;
  display: inline-block;
  padding: 92px 12px;
  cursor: pointer;
}

.leftArrow:hover {
  color: #21ce99;
}

.rightArrow {
  font-size: 27px;
  display: inline-block;
  padding: 92px 5px;
  cursor: pointer;
}

.rightArrow:hover {
  color: #21ce99;
}
