body {
    background-color: white;
    font-family: D-DIN;
  }

h1 {
    color: #171718;
    font-size: 28px;
    font-weight: medium;
    margin-left: 60px;
    padding-left: 60px;
}

.company-title {
  height: 20px;
  font-size: 13px;
  font-weight: bold;
  padding-top: 8px;
}

.analyst {
  text-align: left;
  margin-top: -45px;
}

.price {
  color: #21ce99;
  text-align: left;
  margin-bottom: -24px;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -.14px;
  line-height: 30px;
}

.badges {
  padding: 6px;
  margin-top: 5px;
  font-display: margin-top;
  font-size: 13px;
  color: black;
}

.percentages {
  color: #21ce99 ;
  font-size: 13px;
  font-display: bold;
  padding-bottom: 20px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  margin-left: 70px;
  margin-top: 0;
  padding: 6px;
  justify-content: flex-center;
  overflow-x: auto;
  overflow: hidden;
  -webkit-box-pack: justify;
}

.flex-item {
  border: 1px solid #f4f4f5;;
  border-radius: 2px;
  padding: 23px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 184px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 12px;
  overflow: hidden;
  padding: 22px 23px;
  -webkit-transition: border-color .25s,-webkit-box-shadow .25s;
  transition: border-color .25s,-webkit-box-shadow .25s;
  transition: border-color .25s,box-shadow .25s;
  transition: border-color .25s,box-shadow .25s,-webkit-box-shadow .25s;
  width: 160.5px;
}

.flex-item:hover {
  background: #f4f4f5;
}

.clickers {
  visibility: hidden;
}
.visible {
  visibility: visible !important;
}

.company {
  font-size: 16px;
  padding: 8px;
}



.company-price {
  color: #21ce99 ;
  font-size: 26px;
  font-display: bold;
}

.money-title {
  font-size: 2.5rem;
  font-weight: 300;
}


p:hover {
  text-decoration: none;
}

.tooltip {
  font-size: 12px;
  max-width: 120px;
}

i {
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.leftArrow {
  font-size: 27px;
  display: inline-block;
  padding: 92px 12px;
  cursor: pointer;
}

.leftArrow:hover {
  color:  #21ce99;
}

.rightArrow {
  font-size: 27px;
  display: inline-block;
  padding: 92px 5px;
  cursor: pointer;
}

.rightArrow:hover {
  color:  #21ce99;
}
